.sidenav {
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-image: linear-gradient(to top, #181717 0%, black 100%);
    overflow-x: hidden; 
    padding-top: 20px;
    border-right:1px solid aliceblue;  
    
}
  
  
  .sidenav select  {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    display: block;
    background-color: #111;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }


  
  
  .sidenav div {
    text-align: center;
    align-items: center;
  }
  
  
  .main {
    margin-left: 250px; 
    padding: 10px 10px;
    font-family: 'Lato', sans-serif;
    /*color: aliceblue;*/
    
    
  }

.flex-container {
    display: flex;
}



.flex-child {
    flex: 1;
    border: 2px solid black;
    margin-right: 10px;
    padding: 10px;
}  

div.flex-child:nth-of-type(1){ 
    flex: 3; 
    
      
} 
div.flex-child:nth-of-type(2){ 
    flex: 1; 
    
      
} 
div.flex-child:nth-of-type(3){ 
    flex: 1; 
   
      
} 
#button {
    
    background-color:#111;
    border-radius: 5px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: bold;
    transition-duration: 0.4s;
}
#dark 
{
    float: right;    
    background-color:#111;
    border-radius: 5px;  
    color: #fff;
    cursor: pointer;
    padding: 3px 6px;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    transition-duration: 0.4s;
}
#light 
{
    float: right;    
    background-color:#111;
    border-radius: 5px;  
    color: #fff;
    cursor: pointer;
    padding: 3px 6px;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    transition-duration: 0.4s;
}
#dark:hover{
   background-color: aliceblue; 
  color: rgb(0, 0, 0);
}

#light:hover{
   background-color: aliceblue; 
  color: rgb(0, 0, 0);
}

#button:hover {
  background-color: aliceblue; 
  color: rgb(0, 0, 0);
}

#lyrics{
  white-space: pre-line;
  font-size: 20;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



 
